html, body {
  height: 100%;
  text-align: center;
}

body {
  height:100%;
}

#albums-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo {
  height: 150px;
  width: 150px;
  margin-top: 0;
}

.form-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-inline {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input#formBasicText.form-control{
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.form-control .has-feedback {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[placeholder] {
  text-align: center;
}

.submitBtn {
  background-color: #3d8b5f;
}