html, body {
  height: 100%;
  text-align: center;
}

body {
  height:100%;
}

#albums-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo {
  height: 150px;
  width: 150px;
  margin-top: 0;
}

.form-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

.form-inline {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input#formBasicText.form-control{
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.form-control .has-feedback {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:45%;
}

input[placeholder] {
  text-align: center;
}

.submitBtn {
  background-color: #3d8b5f;
}

.gridContainer {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  width:875px;
}

.coverAlbum {
  height:100px;
  width:100px;
  display: inline-block;
  margin:10px 0 0 2%;
  /* flex-grow: 1; */
  height:100px;
  /* width: calc(100% * (1/4) - 10px - 1px); */
  opacity: 0.3;
  transition: opacity .8s;

}


.coverAlbum:hover {
  opacity: 1.0;
  width: 100%;
  max-width: 100px;
  height: auto;
}
